<div class="main-app">
  <mat-tab-group>
    <mat-tab label="Live Result" class="item">
      <div class="reset">
        <button (click)="resetAll()"> Reset All</button>
        <button (click)="reset()"> Reset</button>
        <button (click)="ShowBlocAddPlayer()"> Add PLayer</button>
      </div>
      <div class="main">
        <div *ngIf="!addPLayer && !isTheGameEnd">
          <tr>
            <td *ngFor="let player of players">
              <button class="btn" (click)="endGame(player.name)">{{player.name}}</button>
            </td>
          </tr>
          <tr>
            <td *ngFor="let player of players">
              {{player.note}}
            </td>
          </tr>
        </div>
        <div *ngIf="!addPLayer && isTheGameEnd">

          <table>
            <tr *ngFor="let player of players; let i = index">
              <td>
                {{player.name}}
                <input [disabled]="player.name == this.winner" [(ngModel)]="player.noteLose" />
              </td>
            </tr>
          </table>
          <button (click)="getValues()">Get Values</button>
        </div>
        <div class="add-player" *ngIf="addPLayer">
          <div class="main">
            <input [(ngModel)]="newPlayer" />
            <button (click)="addPlayer()"> Add</button>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Archives" class="item">

      <div class="container">
        <div class="body">
          <app-historique [dataTable]="HisMapped"></app-historique>
        </div>
        <div class="sidBar">
          <app-ordred-players [Players]="ordresPlayers"></app-ordred-players>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<!-- <div class="main-app">
  <div class="main-body">
    <div class="reset">
      <button (click)="resetAll()"> Reset All</button>
      <button (click)="reset()"> Reset</button>
      <button (click)="ShowBlocAddPlayer()"> Add PLayer</button>
    </div>
    <div class="main">
      <div *ngIf="!addPLayer && !isTheGameEnd">
        <tr>
          <td *ngFor="let player of players">
            <button class="btn" (click)="endGame(player.name)">{{player.name}}</button>
          </td>
        </tr>
        <tr>
          <td *ngFor="let player of players">
            {{player.note}}
          </td>
        </tr>
      </div>
      <div *ngIf="!addPLayer && isTheGameEnd">

        <table>
          <tr *ngFor="let player of players; let i = index">
            <td>
              {{player.name}}
              <input [disabled]="player.name == this.winner" [(ngModel)]="player.noteLose" />
            </td>
          </tr>
        </table>
        <button (click)="getValues()">Get Values</button>
      </div>
      <div class="add-player" *ngIf="addPLayer">
        <div class="main">
          <input [(ngModel)]="newPlayer" />
          <button (click)="addPlayer()"> Add</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="body">
      <app-historique [dataTable]="HisMapped"></app-historique>
    </div>
    <div class="sidBar">
      <app-ordred-players [Players]="ordresPlayers"></app-ordred-players>
    </div>
  </div>
</div> -->